build
apps/results
apps/files
apps/__pycache__
compile_commands.json
.vimrc
diffvg.egg-info
dist
__pycache__
.DS_Store

/pybind11
/apps/env
/env
# /apps/imgs
/results
/old_env
# *.svg
# *.png
# *jpg
# *jpeg
# *.svg
# *txt
apps/painterly_original.py
LIVE/log